@use "media" as bp;




.work-container {
    overflow: hidden;
}


.card-slider {
    display: flex;
    transition: transform 0.3s ease-in-out;
    gap: 2em;

}



.card {
    flex: 0 0 400px;
    margin-right: 20px;

    /* Other styles */
}

@media (max-width: 768px) {
    .card {
        margin-right: 10px;
        /* Other mobile styles */
    }
}



.card.active {
    transform: scale(1.1);
}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.card p {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #555;
}

.slider-controls {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.card-slider-container {

    margin: 0;

    @include bp.md {
        margin: 0 auto;
    }
}



.circle-button {
    display: inline-block;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background-color: #e12525;
    position: relative;
    overflow: hidden;
    margin: 2vw;
}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 25%;
    background-color: #f0f0f0;
}

.arrow-left {
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.arrow-right {
    clip-path: polygon(0 50%, 100% 0, 100% 100%);
}




.prev-btn:disabled,
.next-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}











@keyframes throb {
    100% {
        opacity: 1;
        outline: 5px blue;
        transform: scale(1.2);
    }

}